@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

*{
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    color: #444;
    display: flex;
    align-items:center;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0;
    min-height: 100vh;
}

table{
    background-color:#f5f5f5;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

td{
    /* border-top: 1px solid #e5e5e5; */
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem 2rem;
}

td.item-id{
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

tr:nth-child(even){
    background-color: #e5e5e5;
}

.controls{
    text-align: right;
    margin: 1rem;
}

.add-product{
    background-color: #9ec862;
    border-radius: 3px;
    border: none;
    color:white;
    cursor: pointer;
    padding:0.5rem 1rem;
    
}

.product-window{
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top:15rem;
    width: 400px;
    display: none;
}

.product-window .title{
    background-color: #9ec862;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.product-window .product-info{
    background-color: #eee;
    overflow: hidden;
    width: 100%;
    padding:0.5rem;
}

.product-info input{
    width: 100%;
    margin-bottom: 1rem;
}

.product-info select{
    width: 100%;
    margin-bottom: 1rem;
}

.product-window .toolbar{
    background-color:#9ec862;
    display:flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.product-window .toolbar button{
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
}